<h1>Famous Cocktail Delights</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Cocktail Queue</h2>

        <ul class="list-group">
            {{#each Cocktails}} {{#unless this.enjoyed}}
            <li class="list-group-item">
                <div class="input-group">
                    <p class="lead"> {{this.cocktail_name}} </p>
                    <span class="input-group-btn">
                        <form action="/cocktails/update/{{this.id}}" method="POST">
                            <input type="hidden" name="enjoyed" value="true">
                            <button class="btn btn-default btn-lg" type="submit"> Cheers </button>
                        </form>
                    </span>
                </div>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Cocktails Conquered</h2>
        <ul class="list-group">
            {{#each Cocktails}} {{#if this.enjoyed}}
            <li class="list-group-item">
                <div class="input-group">
                    <p class="lead"> {{this.cocktail_name}} </p>
                </div>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="lead"> Cocktail</p>
        {{!-- section to add burgers --}}
        <form class="create-update-form" action="cocktails/create" method="POST">
            <div class="form-group">
                <textarea class="form-control input-lg" type="text" name="cocktail_name" rows="3"> </textarea>
            </div>
            <button class="btn btn-default btn-lg" type="submit">Add Cocktail</button>
        </form>
    </div>
</div>